---
import "../../styles/main.css";
import { getCollection } from "astro:content";
import ContentSection from "../../components/ContentSection.astro";
import Footer from "../../components/Footer.astro";
import MobileNav from "../../components/MobileNav.astro";
import PageHead from "../../components/PageHead.astro";
import PageHero from "../../components/PageHero.astro";

const posts = await getCollection("blog");
posts.sort((a, b) => b.data.date.getTime() - a.data.date.getTime());
---

<!doctype html>
<html lang="en">
  <head>
    <PageHead title="Blog — eLife Pathways" />
  </head>
  <body>
    <main>
      <PageHero
        pageTitle="Blog"
        pageHeading="News and updates from eLife Pathways"
      />
      <ContentSection>
        <ul>
          {
            posts.map((post) => (
              <li>
                <a href={`/blog/${post.id}/`}>{post.data.title}</a>
              </li>
            ))
          }
        </ul>
      </ContentSection>
    </main>
    <Footer />
    <MobileNav />
  </body>
</html>
