---
import '../styles/main.css';
import Footer from '../components/Footer.astro';
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About — eLife Pathways</title>
  </head>
  <body>
    <header class="site-header">
      <nav class="[ site-nav ] [ wrapper cluster ]">
        <a class="site-nav__logo" href="/">eLife<strong>Pathways</strong>.</a>
        <ul class="[ site-nav__links ] [ cluster ]" role="list">
          <li><a href="/partnerships">Partnerships</a></li>
          <li><a href="/solutions">Solutions</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="/about">About</a></li>
          <li><a class="button" href="#">Get involved</a></li>
        </ul>
      </nav>
    </header>

    <main>
    </main>
    <Footer />
  </body>
</html>
