---
import "../styles/main.css";
import ContentSection from "../components/ContentSection.astro";
import Footer from "../components/Footer.astro";
import MobileNav from "../components/MobileNav.astro";
import PageHead from "../components/PageHead.astro";
import PageHero from "../components/PageHero.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <PageHead title="About — eLife Pathways" />
  </head>
  <body>
    <main>
      <PageHero
        pageTitle="About"
        pageHeading="Dedicated to driving innovation in scholarly communication"
      >
        <p>
          The promise of open science is often hindered by fragmented technology
          and a lack of viable alternatives to traditional, journal-centric
          publishing. Pathways is a new independent initiative designed to
          bridge these gaps by providing the robust infrastructure,
          coordination, and expert support needed for a modern scholarly
          ecosystem. By convening open-source providers and focusing on
          collaboration, we aim to move beyond traditional limitations to
          co-create a future where research is shared equitably and assessed
          responsibly.
        </p>
        <p>
          We redirect eLife’s technical expertise to serve the wider community,
          leveraging the expertise and technology which serves eLife’s journal.
          Recognising that open technologies alone is not enough for widespread
          adoption, we provide the hands-on professional support and open source
          tools necessary to integrate disparate systems into user-friendly,
          interoperable solutions. Through partnerships with other
          infrastructure providers, we eliminate silos and build a resilient,
          shared foundation that offers a sustainable, open alternative for
          research sharing and discovery.
        </p>
      </PageHero>

      <ContentSection sectionTitle="Our Story">
        <p>
          eLife has a rich history of developing and investing in innovation and
          technology. Supporting open science through building open-source
          software and fostering the communities around those tools has always
          been part of eLife’s mission. Since 2012, eLife has been involved in
          many collaborations that have blossomed into impactful open science
          initiatives.
        </p>
      </ContentSection>

      <ContentSection sectionTitle="Who we are">
        <p>
          <b>Michael Markie:</b> Michael has spent 15 years at the heart of the open
          science movement. He’s a firm believer that the best way to move scholarly
          communication forward is together. By matching the right technology with
          what the community actually needs, Michael turns ambitious ideas into real-world
          tools and solutions that help researchers and like-minded organisations
          thrive.
        </p>
        <p>
          <b>Paul Shannon:</b> Paul has spent over two decades at the forefront of
          agile and lean software development. He’s a firm believer that the best
          way to build high-quality technology is through empowered, high-performing
          teams. By translating complex technical challenges into clear goals, Paul
          leads eLife’s technology team to use modern engineering practices that deliver
          innovative software for open science.
        </p>
      </ContentSection>
    </main>
    <Footer />
    <MobileNav />
  </body>
</html>
