---
import '../styles/main.css';
import Footer from '../components/Footer.astro';
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About — eLife Pathways</title>
  </head>
  <body>
    <header class="site-header">
      <nav class="[ site-nav ] [ wrapper cluster ]">
        <a class="site-nav__logo" href="/">eLife<strong>Pathways</strong>.</a>
        <ul class="[ site-nav__links ] [ cluster ]" role="list">
          <li><a href="/partnerships">Partnerships</a></li>
          <li><a href="/solutions">Solutions</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="/about">About</a></li>
          <li><a class="button" href="#">Get involved</a></li>
        </ul>
      </nav>
    </header>
    <section class="hero" data-theme="hero">
      <div class="[ wrapper ] [ flow ]">
        <p class="section-label">About</p>
        <h1>Dedicated to driving innovation in scholarly communication<em>.</em></h1>
        <p>[An intro paragraph about how and why we collaborate with others but longer than the homepage text. Are we focusing on the existing partnerships or is it more geared towards convincing others to contact us to 'partner with us'?]</p>
      </div>
    </section>

          <section class="content-section" data-theme="purple">
        <div class="[ wrapper ] [ flow ]">
          <h2>COAR</h2>
          <p>[An in depth case study of the partnership with COAR etc. Should there be an existing, dedicated and more detailed blog post for each case study that we can link to? Or should all the necessary detail go here?]</p>
          <p>Phasellus laoreet commodo risus non hendrerit. Ut eleifend ligula at urna varius ac pellentesque at integer sed dapibus lacus. Nam tempus mattis sollicitudin. Praesent sed lorem fermentum, mollis urna at blandit leo. Pellentesque feugiat bibendum est, quis tempus felis iaculis non. Cras rutrum tempor elit, eu maximas and ullamcorper is.</p>
        </div>
      </section>

      <section class="content-section" data-theme="navy">
        <div class="[ wrapper ] [ flow ]">
          <h2>CSF</h2>
          <p>[An in depth case study of the partnership with CSF etc. Should there be existing, dedicated and more detailed blog post for each case study that we can link to or should all the necessary detail go here?]</p>
          <p>Phasellus laoreet commodo risus non hendrerit. Ut eleifend ligula at urna varius de pellentesque, integer sed dapibus lacus. Nam tempus mollis sollicitudin. Praesent sed lorem fermentum, mollis urna et blandit leo. Pellentesque feugiat bibendum est, quis tempus felis iaculis non. Cras rutrum tempor elit, eu maximas and ullamcorper is.</p>
        </div>
      </section>

    <main>
    </main>
    <Footer />
  </body>
</html>
