---
import "../styles/main.css";
import Footer from "../components/Footer.astro";
import MobileNav from "../components/MobileNav.astro";
import PageHead from "../components/PageHead.astro";
import PageHero from "../components/PageHero.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <PageHead title="Partnerships — eLife Pathways" />
  </head>
  <body>
    <main>
      <PageHero
        pageTitle="Blog"
        pageHeading="News and updates from eLife Pathways"
      />
    </main>
    <Footer />
    <MobileNav />
  </body>
</html>
