---
import '../styles/main.css';
import Footer from '../components/Footer.astro';
import LandingHero from '../components/LandingHero.astro';
import MobileNav from '../components/MobileNav.astro';
import PageHead from '../components/PageHead.astro';
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <PageHead title="eLife Pathways" />
  </head>
  <body>
    <main>
      <LandingHero />

      <section class="content-section" data-theme="purple">
        <div class="[ wrapper ] [ columns ]">
          <div>
            <h2><em>Why</em> eLife Pathways exists<span class="dot"></span></h2>
          </div>
          <div class="flow">
            <p>Supported by Wellcome, Pathways is a technology initiative from eLife that partners with communities and organisations to develop new open-source tools and infrastructure that enable innovative and more inclusive peer-review and publishing models.</p>
            <a class="button" href="#">About eLife Pathways</a>
          </div>
        </div>
      </section>

      <section class="content-section" data-theme="navy">
        <div class="[ wrapper ] [ columns ]">
          <div>
            <h2><em>Who</em> eLife Pathways is for<span class="dot"></span></h2>
          </div>
          <div class="flow">
            <p>We collaborate with like-minded organisations and communities of researchers that are looking for technology support or expertise to deliver new technologies that benefit scholarly communication.</p>
            <a class="button" href="#">How it works</a>
          </div>
        </div>
      </section>

      <section class="content-section" data-theme="purple">
        <div class="[ wrapper ] [ columns ]">
          <div>
            <h2><em>What</em> eLife Pathways does<span class="dot"></span></h2>
          </div>
          <div class="flow">
            <p>With our partners, we build open-source, modular tools and infrastructure for better end-to-end publishing and peer-review workflows. They're free to use, adapt and extend by anyone, and we can partner to explore or pilot new publishing models.</p>
            <a class="button" href="#">For developers</a>
          </div>
        </div>
      </section>
    </main>

    <Footer />
    <MobileNav />
  </body>
</html>
