---
import "../styles/main.css";
import Footer from "../components/Footer.astro";
import LandingHero from "../components/LandingHero.astro";
import MobileNav from "../components/MobileNav.astro";
import PageHead from "../components/PageHead.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <PageHead title="eLife Pathways" />
  </head>
  <body>
    <main>
      <LandingHero />

      <section class="homepage-content-section">
        <div class="centered-content-wide columns">
          <div>
            <h2><i>Why</i> eLife Pathways exists<span class="dot"></span></h2>
          </div>
          <div class="flow">
            <p>
              Moving beyond legacy publishing requires interoperable open-source
              infrastructure. With Wellcome’s support, we are evolving eLife’s
              technology to anchor a collaborative network, partnering with the
              open science community to reshape the communication and assessment
              of global research.
            </p>
            <a class="button" href="about">About eLife Pathways</a>
          </div>
        </div>
      </section>

      <section class="homepage-content-section">
        <div class="centered-content-wide columns">
          <div>
            <h2><i>What</i> eLife Pathways does<span class="dot"></span></h2>
          </div>
          <div class="flow">
            <p>
              We listen to the open science community to build the
              infrastructure and technology essential for equitable, global
              research communication. Our tools are free to use, adapt, and
              extend, allowing us to partner with others to explore innovative
              ways to share and discover research.
            </p>
            <a class="button" href="solutions">Read about our solutions</a>
          </div>
        </div>
      </section>

      <section class="homepage-content-section">
        <div class="centered-content-wide columns">
          <div>
            <h2>
              <i>Who</i> eLife Pathways works with<span class="dot"></span>
            </h2>
          </div>
          <div class="flow">
            <p>
              We work with like-minded organisations, open source technologists
              and communities of researchers who want to co-create the
              sustainable technology needed for a more inclusive and effective
              scholarly communication ecosystem.
            </p>
            <a class="button" href="partnerships">Read about our partnerships</a
            >
          </div>
        </div>
      </section>

      <section class="quotes-section hidden">
        <figure>
          <blockquote>This is the quote text</blockquote>
          <figcaption>
            <img alt="avatar of the quoted person">
            <div>Person's Name</div>
            <div>Person's affiliation</div>
            <img alt="affiliation logo">
          </figcaption>
        </figure>
      </section>
    </main>

    <Footer />
    <MobileNav />

    <script>
      // Feature flag to only display the quotes section when the query string contains 'quotes'.
      (() => {
        "use strict";
        if (window.location.search.includes("quotes")) {
          document.querySelector(".quotes-section").classList.remove("hidden");
        }
      })();
    </script>
  </body>
</html>

<style>
  .homepage-content-section {
    margin-block-end: var(--large-vertical-space);
  }

  .homepage-content-section h2 i {
    color: var(--color-pink);
  }

  .hidden {
    display: none;
  }
</style>
