---
import '../styles/main.css';
import Footer from '../components/Footer.astro';
import PartnershipsHero from '../components/PartnershipsHero.astro';
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Partnerships — eLife Pathways</title>
</head>
  <body >
    <PartnershipsHero />

    <main>

      <section class="content-section" data-theme="purple">
        <div class="[ wrapper ] [ flow ]">
          <h2>COAR</h2>
          <p>[An in depth case study of the partnership with COAR etc. Should there be an existing, dedicated and more detailed blog post for each case study that we can link to? Or should all the necessary detail go here?]</p>
          <p>Phasellus laoreet commodo risus non hendrerit. Ut eleifend ligula at urna varius ac pellentesque at integer sed dapibus lacus. Nam tempus mattis sollicitudin. Praesent sed lorem fermentum, mollis urna at blandit leo. Pellentesque feugiat bibendum est, quis tempus felis iaculis non. Cras rutrum tempor elit, eu maximas and ullamcorper is.</p>
        </div>
      </section>

      <section class="content-section" data-theme="navy">
        <div class="[ wrapper ] [ flow ]">
          <h2>CSF</h2>
          <p>[An in depth case study of the partnership with CSF etc. Should there be existing, dedicated and more detailed blog post for each case study that we can link to or should all the necessary detail go here?]</p>
          <p>Phasellus laoreet commodo risus non hendrerit. Ut eleifend ligula at urna varius de pellentesque, integer sed dapibus lacus. Nam tempus mollis sollicitudin. Praesent sed lorem fermentum, mollis urna et blandit leo. Pellentesque feugiat bibendum est, quis tempus felis iaculis non. Cras rutrum tempor elit, eu maximas and ullamcorper is.</p>
        </div>
      </section>
    </main>
    <Footer />
  </body>
</html>
