---
import "../styles/main.css";
import Footer from "../components/Footer.astro";
import MobileNav from "../components/MobileNav.astro";
import PageHead from "../components/PageHead.astro";
import PageHero from "../components/PageHero.astro";
import ContentSection from "../components/ContentSection.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <PageHead title="Solutions — eLife Pathways" />
  </head>
  <body>
    <main>
      <PageHero
        pageTitle="Solutions"
        pageHeading="Interoperable infrastructure for the open science ecosystem"
      >
        <p>
          The greatest untapped potential in open infrastructure lies in its
          underlying “plumbing”. By prioritising seamless integration and
          interoperability we transform existing open-source tools into
          high-performance systems for the global community. Our development of <a
            href="https://sciety.org/">Sciety</a
          > and <a href="https://kotahi.community/">Kotahi</a> establishes an adaptable
          foundation for scholarly communication, allowing us to build new community-led
          prototypes that bridge existing gaps and unify the open science ecosystem.
        </p>
      </PageHero>

      <ContentSection sectionTitle="Open Publishing">
        <p>
          We provide a flexible, end-to-end platform for modernising submission,
          review, and publication. Kotahi is designed for flexibility, it allows
          users to configure custom workflows that meet the unique demands of
          open publishing. By eliminating licensing fees and overhead, Kotahi
          offers a sustainable, adaptable solution built specifically for
          grassroots initiatives and Diamond Open Access models.
        </p>
      </ContentSection>

      <ContentSection sectionTitle="Preprints and early sharing">
        <p>
          We provide an interoperable architecture that transforms original
          manuscripts into high-quality HTML preprints, featuring bespoke
          layouts alongside dynamically generated, production-ready PDFs. These
          systems support flexible screening workflows, integrated task
          management, and AI-driven assistance to provide efficient, scalable
          validation for diverse, early-stage research objects.
        </p>
      </ContentSection>

      <ContentSection sectionTitle="Review and Curation">
        <p>
          We provide the infrastructure for modern research sharing, including
          preprint review and the publish-review-curate (PRC) model. By
          decoupling evaluation from publishing, our tools give communities
          autonomy over the review process. <bold>Kotahi</bold> enables integrated
          custom review and evaluation workflows. <bold>Sciety</bold> aggregates review
          and evaluation across scholarly networks, providing the tools to discover
          and organise all curated objects across the entire research ecosystem.
        </p>
      </ContentSection>

      <ContentSection sectionTitle="Open Research Information">
        <p>
          We specialise in open research information and scholarly metadata.
          Because a thriving open science ecosystem depends on robust
          connections, we enrich and enhance scholarly metadata to create
          seamless links between research outputs, rapidly prototyping new ways
          to showcase open research innovation.
        </p>
      </ContentSection>

      <ContentSection sectionTitle="Expertise on open‑source software delivery">
        <p>
          We help navigate the complexities of open-source development with
          technical guidance and community-focused expertise. Whether launching
          a new innovation or adopting an existing tool, we work alongside the
          community to create a culture of agility and shared ownership,
          ensuring research technology delivers immediate and lasting value to
          the scholarly community.
        </p>
      </ContentSection>
    </main>
    <Footer />
    <MobileNav />
  </body>
</html>
