<section class="content-section">
  <div class="centered-content flow">
    <slot />
  </div>
</section>

<style>
  .content-section {
    margin-block-end: clamp(3.75rem, calc(2.386rem + 6.818vw), 7.5rem);
  }

  .content-section h2 em {
    color: var(--color-pink);
  }
</style>
