<section class="content-section">
  <div class="centered-content flow">
    <slot />
  </div>
</section>

<style>
  .content-section {
    margin-block-end: var(--vertical-space-between-sections);
  }

  .content-section h2 i {
    color: var(--color-pink);
  }
</style>
