<footer class="site-footer" data-theme="light">
  <section class="cta-section" data-theme="light">
      <div class="[ wrapper ] [ columns ]">
        <div>
          <h2><em>Want</em> to learn more?</h2>
        </div>
        <div class="flow">
          <p>If you're interested in partnering with us or want to learn more about how to use our open-source tools and infrastructure, get in touch.</p>
          <nav class="cluster" aria-label="Contact">
            <a class="button" data-variant="pink" href="#">Email</a>
            <a class="button" data-variant="pink" href="#">LinkedIn</a>
            <a class="button" data-variant="pink" href="#">Bluesky</a>
          </nav>
        </div>
      </div>
    </section>
  <div class="wrapper flow">
    <p>eLife is a non-profit organisation inspired by research funders and led by scientists. Our mission is to help scientists accelerate discovery by operating a platform for research communication that encourages and recognises the most responsible behaviours in science.</p>
    <p>eLife Sciences Publications, Ltd is a limited liability non-profit non-stock corporation incorporated in the State of Delaware, USA, with company number 5030732, and is registered in the UK with company number FC030576 and branch number BR015634 at the address:</p>
    <p>eLife Sciences Publications, Ltd<br />95 Regent Street<br />Cambridge CB2 1AW<br />UK</p>
    <p>© 2026 eLife Sciences Publications Ltd. Subject to a Creative Commons Attribution license, except where otherwise noted. ISSN: 2050-084X</p>
  </div>
</footer>
