<footer class="site-footer">
  <section class="cta-section">
      <div class="[ wrapper ] [ columns ]">
        <div>
          <h2><em>Want</em> to learn more?</h2>
        </div>
        <div class="flow">
          <p>If you're interested in partnering with us or want to learn more about how to use our open-source tools and infrastructure, get in touch.</p>
          <nav class="cluster" aria-label="Contact">
            <a class="button" data-variant="pink" href="mailto:technology@elifesciences.org">Email</a>
            <a class="button" data-variant="pink" href="https://www.linkedin.com/company/elife-sciences-publications-ltd">LinkedIn</a>
            <a class="button" data-variant="pink" href="https://bsky.app/profile/did:plc:4irghgzlsjk6ugrekoqyl7km">Bluesky</a>
          </nav>
        </div>
      </div>
    </section>
  <div class="wrapper flow">
    <p>eLife is a non-profit organisation advancing open science by transforming how research is communicated, reviewed, and assessed. By developing open tools and collaborating with research communities, institutions, and funders, we are building a fairer, more effective global research ecosystem.</p>
    <p>eLife Sciences Publications, Ltd is a limited liability non-profit non-stock corporation incorporated in the State of Delaware, USA, with company number 5030732, and is registered in the UK with company number FC030576 and branch number BR015634 at the address:</p>
    <p>eLife Sciences Publications, Ltd<br />95 Regent Street<br />Cambridge CB2 1AW<br />UK</p>
    <p>© 2026 eLife Sciences Publications Ltd. Subject to a Creative Commons Attribution license, except where otherwise noted. ISSN: 2050-084X</p>
  </div>
</footer>
