---
import SiteNav from './SiteNav.astro';
---

<header class="landing-hero" id="site-header">
  <SiteNav />
  <div class="flow hero-inner">
    <h1><span>Building <em>better</em> ways</span><span>to share research<span class="hero-dot" aria-hidden="true"></span></span></h1>
    <p class="hero-body">An open-source initiative from eLife dedicated to co-creating a more connected and collaborative open science ecosystem.</p>
  </div>
</header>

<style>
  .landing-hero {
    .site-nav {
      padding-inline: 0;
    }
  }

  .hero-inner {
  text-align: center;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 0;
}

@media (min-width: 30rem /* sm = 480px */) {
  .hero-inner h1 {
    font-size: clamp(26px, 8vw, 50px);
  }
}

@media (min-width: 40rem /* md = 640px */) {
  .hero-inner h1 {
    font-size: clamp(50px, 7vw, 70px);
  }

@media (min-width: 50rem /* 800px */) {
  .hero-inner {
    padding-inline: 7%;
  }

  .hero-inner h1 {
    font-size: clamp(60px, 7vw, 80px);
  }
  }
@media (min-width: 75rem /* 1200px */) {

  .hero-inner {
    padding: 0 150px;
  }

  .hero-inner h1 {
  margin-bottom: var(--space-md);
    font-size: var(--font-size-4xl);
  }
}
}
</style>
