---
import SiteNav from './SiteNav.astro';
---

<header class="hero" data-theme="hero">
  <SiteNav />
  <div class="[ wrapper ] [ flow ] [ text-center ] hero-inner">
    <h1><span>Building <em>better</em> ways</span><span>to share research<span class="hero-dot" aria-hidden="true"></span></span></h1>
    <p class="hero-body">An open-source technology initiative from eLife enabling more responsible ways to share scientific research and data.</p>
  </div>
</header>
