---
import SiteNav from './SiteNav.astro';
---

<header class="landing-hero" data-theme="hero">
  <SiteNav />
  <div class="[ wrapper ] [ flow ] hero-inner">
    <p class="section-label">Partnerships</p>
    <h1>Advancing open science through innovation, together<em>.</em></h1>
    <p>[An intro paragraph about how and why we collaborate with others but longer than the homepage text. Are we focusing on the existing partnerships or is it more geared towards convincing others to contact us to 'partner with us'?]</p>
  </div>
</header>
