<figure>
  <blockquote>
    Advancing a preprint-first culture requires a shared commitment. eLife Pathways helps to build a trustworthy and interconnected ecosystem that prioritises transparency, connection, and mutual trust.
  </blockquote>
  <figcaption>
    <img
      class="quote-headshot"
      src="images/tracy-teal.png"
      alt="Headshot of Tracy Teal"
    />
    <div>Tracy Teal</div>
    <div>OpenRxiv</div>
    <img
      class="logo"
      src="images/openrxiv-logo.png"
      alt="Logo of OpenRxiv"
    />
  </figcaption>
</figure>

<style>
  .quote-headshot {
    width: 80px;
    height: 80px;
    border-radius: 400px;
  }

  .logo {
    width: 104px;
  }
</style>
